<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Reader"
     connectionString="User ID=RBS1617S_grp09;Password=h7Y7lQyU67;Initial Catalog=RBS1617S_DB09;Data Source=194.171.20.101" />
    <add name="Writer"
     connectionString="User ID=RBS1617S_grp09;Password=h7Y7lQyU67;Initial Catalog=RBS1617S_DB09;Data Source=194.171.20.101" />
  </connectionStrings>
</configuration>